.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.env
*.pickle
Deep_learning/Cat_Dogs/logs/

# training data directories
Deep Learning/Cat_Dogs/kagglecatsanddogs_3367a